@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Home Page</h1>
    <p class="lead">Click on Register link for Register</p>
    <p class="lead">Click on Login link for Login</p>
</div>

